{% extends 'base.html.twig' %}

{% block title %}About index{% endblock %}

{% block body %}
    <h1>About index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Resume</th>
                <th>ImageFile</th>
                <th>ImageName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for about in abouts %}
            <tr>
                <td>{{ about.id }}</td>
                <td>{{ about.Title }}</td>
                <td>{{ about.resume }}</td>
                <td>{{ about.imageFile }}</td>
                <td>{{ about.imageName }}</td>
                <td>
                    <a href="{{ path('about_show', {'id': about.id}) }}">show</a>
                    <a href="{{ path('about_edit', {'id': about.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('about_new') }}">Create new</a>
{% endblock %}
