{% extends 'base.html.twig' %}

{% block title %}Technologie{% endblock %}

{% block body %}
    <h1 class="mt-5">Technologie</h1>

    <table class="table table-drak">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ technologie.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ technologie.name }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ technologie.resume }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('technologie_index') }}" class="btn btn-secondary">back to list</a>

    <a href="{{ path('technologie_edit', {'id': technologie.id}) }}" class="btn btn-warning">edit</a>

    {{ include('technologie/_delete_form.html.twig') }}
{% endblock %}
