<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    {# https://codepen.io/leenalavanya/pen/RYqvgK #}    
    <body>
        {% block nav %}{% include './includes/nav.html.twig' %}{% endblock %}
        {% block body %}
            
            {% block jumbotron %}
                <div id="home" class="jumbotron-fluid" >
                    <div class="row justify-content-center m-0">
                        <div class="col-sm-12 vertical-header align-item-center">                                     
                                <h1 id="type-js" class="text-center text-light align-content-center"></h1>
                        </div>
                            <a href="./#about" type="button" class="arrow bounce text-light mt-4 mb-0"><i class="fa fa-arrow-down fa-2x"></i></a>
                    </div>
                </div>
            {% endblock %}
            <section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 ">
                        {% for about in about %}
                            <img src="{{ asset('images/about/' ~ about.imageName) }}" class="photoprofil img-responsive img-thumbnail" alt="photo portrait"/>
                        </div>

                        <div class="about col-xs-6  col-md-9 text-justify">
                            <h2>{{about.title}}</h2>

                            <p>{{about.resume}}</p>
                        {% endfor %}

                        </div>
                    </div>
                </div>
            </section>

            {# Affichage des skills #}
            <section id="technologies">
                {% set numberCat = 0 %}
                {% set button = 0 %}
                {% set cat = "" %}

                {% for techno in Technologies %}

                    {% if loop.first %} <div  class="container-fluid p-4 justify-content-between "> {% endif %}

                    {% if (cat != techno.category.id ) and ((button % 2) != 0) and (button != 0 )%} </div> <!-- Si l'ancienne CAT avait nb button impair ferme div --> {% endif %}

                    {% if (cat != techno.category.id) and ((numberCat % 2) != 0) and (numberCat != 0) %}</div> </div> <!-- Si new CAT Nb CAT impair -> Ferme col-12 et row justify -->  {% endif %}

                    {% if (cat != techno.category.id) and ((numberCat % 2) == 0) and (numberCat != 0) %}</div> </div> </div>  {% endif %}

                        {% if cat != techno.category.id %}

                            {% if ((numberCat % 2) == 0) %}
                            
                                <div class="row text-center align-items-center justify-content-around pt-4 pb-4">
                            
                            {% endif %}


                            {% set button = 0 %}
                                <div class="col-md-12 col-xl-5 p-4 mt-2 ">

                                {% if techno.category.name != "Veille technologique"%}
                                    <img class="mb-2" src="{{ asset('build/images/' ~ techno.category.imageName) }}" alt="{{ techno.category.imageName }}" width="50px" height="50px">
                                {% else %}
                                    <i tabindex="0" class="{{techno.category.imageName}}" style="font-size:48px;"></i> 
                                {% endif %}
                                        <div class="row justify-content-around">
                                            <div class="row col-md-7 col-lg-6 pl-5 pr-5">
                                                <button tabindex="0" class="btn btn-lg btn-light btn-block" role="button" data-toggle="popover"
                                                    data-trigger="focus" title={{techno.name}} data-placement="left"
                                                    data-content="{{techno.resume}}">{{techno.name}}
                                                </button>
                                    

                            {% set button = button + 1 %}
                            

                            {% set numberCat = numberCat + 1 %}
                            {% set cat = techno.category.id %}

                        {% elseif (cat == techno.category.id) and ((button % 2) != 0) %} 

                                                <button tabindex="0" class="btn btn-lg btn-light btn-block " role="button" data-toggle="popover"
                                                    data-trigger="focus" title={{techno.name}} data-placement="left"
                                                    data-content="{{techno.resume}}">{{techno.name}}
                                                </button> 
                                            </div>
                            {% set button = button + 1 %} 

                        {% elseif (cat == techno.category.id) and ((button % 2) == 0) %}
                                            <div class="row col-md-7 col-lg-6 pl-5 pr-5">
                                                <button tabindex="0" class="btn btn-lg btn-light btn-block" role="button" data-toggle="popover"
                                                    data-trigger="focus" title={{techno.name}} data-placement="left"
                                                    data-content="{{techno.resume}}"> {{techno.name}}
                                                </button>
                            {% set button = button + 1 %}
                        
                        {% endif %}

                    {% if loop.last %} </div> </div> </div>  </div> {% endif %}

                {% endfor %}

            </section>



            <section id="projects" class="project">
                <h2 class="pt-2 text-center">Les projets réalisés</h2>

                {# Thumbail #}
                {% for project in Projects %}
                    
                    {% if loop.first %} <div class="container"> <div class="row "> {% endif %}
                        <div class=" col-sm-12 col-lg-6 col-xl-4 p-4 ">
                            <div class="card mb-4 mt-2 shadow-sm mx-auto">
                            {% if project.imageName == none %}
                                <img class="img img-fuild img-thumbnail" src="https://via.placeholder.com/350x150"  alt="{{project.name}}">
                            {% else %}
                                <img class="card-img-top" src="./images/project/{{ project.imageName }}"  alt="{{project.name}}">
                            {% endif %}
                                <div class="card-body">
                                    <div class="card-text">
                                        <h5>{{project.name}}</h5>
                                        <p class="text-truncate">{{project.resume}}</p>
                                    </div>
                                    <a type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#project-{{project.id}}">En savoir plus</a>

                                    <div id="project-{{project.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                        <div class="modal-dialog"> 
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">{{project.name}}</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">X</button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="card mb-4 mt-2 shadow-sm mx-auto" style="height:150; width:150;overflow:hidden;" >
                                                    {% if project.imageName == "https://lorempixel.com/640/480/?30221" %}
                                                        <img class="img-thumbnail" src="./image/project/404-error.png"  alt="{{project.name}}">
                                                    {% else %}
                                                        <img class="img-card img-thumbnail" src=./images/project/{{ project.imageName }}  alt="{{project.name}}" >
                                                    {% endif %}
                                                        
                                                        <div class="card-body">
                                                            <p class="text-justify">{{project.resume}}</p>

                                                            <h6 class="text-muted"><br>Les technologies utilisées pour ce projet sont :</h6>
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <div class="btn-group flex-wrap">
                                                                    {% for technologies in project.technologies %}
                                                                        {% if loop.first and loop.last != true %}
                                                                            <p><span class= "badge {{ random(['badge-primary', 'badge-secondary', 'badge-success', 'badge-warning', 'badge-info', 'badge-dark' ]) }}">{{technologies.name}},</span></p>
                                                                        {% elseif loop.last  %}
                                                                            <p><span class= "badge {{ random(['badge-primary', 'badge-secondary', 'badge-success', 'badge-warning', 'badge-info', 'badge-dark' ]) }}">{{technologies.name}}.</span></p>
                                                                        {% else %}
                                                                            <p><span class= "badge {{ random(['badge-primary', 'badge-secondary', 'badge-success', 'badge-warning', 'badge-info', 'badge-dark' ]) }}">{{technologies.name}}, </span></p>
                                                                        {% endif %}
                                                                    {% endfor %}

                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% if project.link == "https://raphael-maillard.com" %}
                                                            <div class="align-right"><h4><a href={{project.link}} class="badge badge-dark float-right" >Lien du projet</a></h4></div>
                                                        {% else %}
                                                            <div class="align-right"><h4><a href={{project.link}} class="badge badge-dark float-right" target="_blank" >Lien du projet</a></h4></div>
                                                        {% endif %}
                                                    </div>
                                                                                                                                                   
                                                </div>

                                                <div class="modal-footer">
                                            
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">Fermer</button>

                                                </div>                                                                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% if loop.last %}</div> </div> {% endif %}



                {% endfor %}

            </section>

            <section id="contact" class="section">
                <div class="container">
                    <div class="row p-4">
                        {# <h1 class="col-md-5 mt-4">Pour me contacter : <br></h1> #}

                        <a type="button" class="fas fa-envelope col-12 mx-auto pb-5" data-toggle="modal" data-target=".bd-example-modal-lg" style="font-size:30em;"></a>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>

                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg vertical-modal">
                                <div class="modal-content">                                        
                                    {{ form_start(contact) }}
                                        <div class="form-row ml-2 mt-3">
                                            <div class="form-group col-8 ml-2">
                                                {{ form_label(contact.email, 'Votre Email')}}
                                                {{form_widget(contact.email)}}                                                    
                                            </div>
                                        </div>
                                        <div class="form-row ml-2">
                                            <div class="form-group col-8 ml-2">
                                                {{ form_label(contact.firstname, 'Votre prénom')}} 
                                                {{form_widget(contact.firstname)}}
                                            </div>
                                        </div>
                                        <div class="form-row ml-2">
                                            <div class="form-group col-8 ml-2">
                                                {{ form_label(contact.lastname, 'Votre nom')}}  
                                                {{form_widget(contact.lastname)}}                                                     
                                            </div>
                                        </div>
                                        <div class="form-row ml-2">
                                            <div class="form-group col-8 ml-2">
                                                {{ form_label(contact.message, 'Le message que vous voulez laisser')}}  
                                                {{form_widget(contact.message)}}
                                            </div>    
                                        </div>                  
                                        <div class="form-row ml-2">
                                            <div class="form-group col-8 ml-2">
                                                {{ form_label(contact.age, 'votre Age', {
                                                    'label_attr': {'style': 'display:none'}
                                                })}}  
                                                {{form_widget(contact.age, {'label_attr': {'hidden': 'true'}})}}
                                            </div>    
                                        </div>                  
                                        <div class="form-group form-check">
                                                {{ form_label(contact.agreeTerms, "Êtes-vous de votre message ? ", {'label_attr': {'class': 'form-check-label'}} )}}
                                                {{form_widget(contact.agreeTerms, {'attr': {'class': 'form-check-input ml-4'}})}}
                                        </div>
                                        
                                        <button type="submit" class="btn btn-success m-2 ml-4 mb-4">Envoyer</button>                                            
                                        <button type="button" class="btn btn-secondary m-2 mb-4" data-dismiss="modal">Fermer</button>
                                    {{ form_end(contact) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>
           
            <footer class="footer">
                {% block footer %}

                    <div class="container">
                        <div class="row text-center text-xs-center text-sm-left justify-content-around">
                            <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                                <ul class="list-unstyled quick-links justify-content-center text-white">
                                    <li><a href="#home" class="badge badge-dark">Accueil</a></li>
                                    <li><a href="#about" class="badge badge-dark">A Propos</a></li>
                                    <li><a href="#technologies" class="badge badge-dark p-0">Technologies</a></li>
                                    <li><a href="#projects" class="badge badge-dark"></i>Projets</a></li>
                                    <li><a href="./files/CV-Raphael-Maillard.pdf" class="badge badge-dark" target="_blank"></i>CV</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                                <ul class="list-unstyled list-inline social text-center text-white">
                                    <li class="list-inline-item"><a href="https://github.com/raphael-maillard" target="_blank"><i class="fab fa-github"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/raphael-maillard-b01709192/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white p-2">
                                    <a href="#" data-toggle="modal" data-target="#legal-notice-modal" role="dialog"><p>Mention légales © All right Reversed.</p></a>
                                    {% block leagal%} {% include './includes/mentionsLegals.html.twig' %} {% endblock %}
                                </div>
                            </div>	
                    </div>
                {% endblock %}
            </footer>
        </body>
        {% endblock %}
            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}    
</html>