<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    
    <body>
        
            <header>
                {% block header %}
                    {% block nav %}
                        <nav class="navbar navbar-expand-md navbar-light fixed-top">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav ml-auto order-1 order-md-2 ">
                                <li class="nav-item current active"><a class="nav-link" href="#home">Accueil</a></li>
                                <li class="nav-item active"><a class="nav-link" href="#about">Technologies</a></li>
                                <li class="nav-item active"><a class="nav-link" href="#resume">Projets</a></li>
                                <li class="nav-item active"><a class="nav-link" href="#work">Contact</a></li>
                                <li class="nav-item active"><a class="nav-link" href="./file/CV.pdf" target="_blank">CV</a></li>
                            </ul>
                            </div>
                        </nav>
                    {% endblock %}
                    {% block jumbotron %}
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <div class="col-sm-12 vertical align-item-center">                                     
                                     <h1 id="type-js" class="text-center text-light align-content-center"></h1>

                                </div>
                            </div>
                        </div>
                    {% endblock %}
                {% endblock %}
            </header>
        {% block body %}
            {# Affichage des skills #}
            <section>
                {% set numberCat = 0 %}
                {% set button = 0 %}
                {% set cat = "" %}

                {% for techno in Technologies %}

                    {% if loop.first %} <div class="container-fluid p-4 justify-content-between "> {% endif %}

                    {% if (cat != techno.category.id ) and ((button % 2) != 0) and (button != 0 )%} </div> <!-- Si l'ancienne CAT avait nb button impair ferme div --> {% endif %}

                    {% if (cat != techno.category.id) and ((numberCat % 2) != 0) and (numberCat != 0) %}</div> </div> <!-- Si new CAT Nb CAT impair -> Ferme col-12 et row justify -->  {% endif %}

                    {% if (cat != techno.category.id) and ((numberCat % 2) == 0) and (numberCat != 0) %}</div> </div> </div>  {% endif %}

                        {% if cat != techno.category.id %}

                            {% if ((numberCat % 2) == 0) %}
                            
                                <div class="row text-center align-items-center justify-content-around pt-4 pb-4">
                            
                            {% endif %}


                            {% set button = 0 %}
                                <div class="col-md-12 col-xl-5 p-4 mt-2 ">

                                {% if techno.category.name != "Veille technologique"%}
                                    <img class="" src="{{ asset('build/images/' ~ techno.category.imageName) }}" alt="{{ techno.category.imageName }}" width="50px" height="50px">
                                {% else %}
                                    <i tabindex="0" class="{{techno.category.imageName}}" style="font-size:48px;"></i> 
                                {% endif %}
                                        <div class="row justify-content-around">
                                            <div class="row col-md-7 col-lg-6 pl-5 pr-5">
                                                <button tabindex="0" class="btn btn-lg btn-light btn-block" role="button" data-toggle="popover"
                                                    data-trigger="focus" title={{techno.name}} data-placement="left"
                                                    data-content="{{techno.resume}}">{{techno.name}}
                                                </button>
                                    

                            {% set button = button + 1 %}
                            

                            {% set numberCat = numberCat + 1 %}
                            {% set cat = techno.category.id %}

                        {% elseif (cat == techno.category.id) and ((button % 2) != 0) %} 

                                                <button tabindex="0" class="btn btn-lg btn-light btn-block " role="button" data-toggle="popover"
                                                    data-trigger="focus" title={{techno.name}} data-placement="left"
                                                    data-content="{{techno.resume}}">{{techno.name}}
                                                </button> 
                                            </div>
                            {% set button = button + 1 %}

                        {% elseif (cat == techno.category.id) and ((button % 2) == 0) %}
                                            <div class="row col-md-7 col-lg-6 pl-5 pr-5">
                                                <button tabindex="0" class="btn btn-lg btn-light btn-block" role="button" data-toggle="popover"
                                                    data-trigger="focus" title={{techno.name}} data-placement="left"
                                                    data-content="{{techno.resume}}"> {{techno.name}}
                                                </button>
                            {% set button = button + 1 %}
                        
                        {% endif %}


                    {% if loop.last %} </div> </div> </div>  </div> {% endif %}

                {% endfor %}

            </section>



            <section class="project">
                {# Thumbail #}
                {% for project in Projects %}
                    


                    {% if loop.first %} <div class="container"> <div class="row "> {% endif %}

                        <div class=" col-sm-12 col-lg-6 col-xl-4 p-4 ">
                            <div class="card mb-4 mt-2 shadow-sm" >
                                <img class="img-fuild w-100" src="https://via.placeholder.com/350x150"  alt="{{project.name}}" width="150px">
                                <div class="card-body">
                                    <div class="card-text">
                                        <h5>{{project.name}}</h5>
                                        <p class="text-truncate">{{project.resume}}</p>
                                    </div>
                                    <a type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#project-{{project.id}}">En savoir plus</a>

                                     <div id="project-{{project.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                        <div class="modal-dialog"> 
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">{{project.name}}</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">X</button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="card mb-4 mt-2 shadow-sm" >
                                                            <img class="img-fuild w-100" src="https://via.placeholder.com/350x150"  alt="{{project.name}}" width="150px">
                                                            <div class="card-body">
                                                                {{project.resume}}

                                                                <h5><br>Les technologies utilisées pour ce projet sont :</h5>
                                                                <div class="d-flex justify-content-between align-items-center">
                                                                    <div class="btn-group">
                                                                        {% for technologies in project.technologies %}
                                                                            {% if loop.first and loop.last != true %}
                                                                                <p><span>{{technologies.name}},</span></p>
                                                                            {% elseif loop.last  %}
                                                                                <p><span>{{technologies.name}}.</span></p>
                                                                            {% else %}
                                                                                <p><span>{{technologies.name}}, </span></p>
                                                                            {% endif %}

                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </div>
                                                                                                    
                                                </div>

                                                <div class="modal-footer">
                                            
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">Fermer</button>

                                                </div>                                                                                        
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% if loop.last %}</div> </div> {% endif %}



                {% endfor %}

            </section>

            <section class="section">
                <div class="container">
                    <div class="row p-4">
                        <h1 class="col-md-5 mt-4">Pour me contacter : <br></h1>

                        <a type="button" class="fas fa-envelope col-md-7" data-toggle="modal" data-target=".bd-example-modal-lg" style="font-size:250px;"></a>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>

                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                
                                    {# <form class="container p-4"> #}
                                        {{ form_start(contact) }}
                                            <div class="form-row">
                                                <div class="form-group col-8 ml-2">
                                                    {{ form_row(contact.email)}}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-8 ml-2">
                                                    {{ form_row(contact.firstname)}}                                               
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-8 ml-2">
                                                    {{ form_row(contact.lastname)}}   
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-8 ml-2">
                                                    {{ form_row(contact.message)}}  
                                                </div>    
                                            </div>                  
                                            <div class="form-row">
                                                <div class="form-check">
                                                    {{ form_row(contact.agreeTerms)}}
                                                </div>
                                            </div>
                                            {# {{ form_row(contact.envoyer)}} #}
                                            
                                            <button type="submit" class="btn btn-primary m-2">Envoyer</button>                                            
                                            <button type="button" class="btn btn-secondary m-2" data-dismiss="modal">Fermer</button>
                                        {{ form_end(contact) }}
                                    {# </form> #}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>
            {# <section class="section">
                <div class="container">
                    <div class="row p-4">
                        <h1 class="col-md-5 mt-4">Pour me contacter : <br></h1>

                        <a type="button" class="fas fa-envelope col-md-7" data-toggle="modal" data-target=".bd-example-modal-lg" style="font-size:250px;"></a>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>

                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                
                                    <form class="container p-4">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputEmail4">Nom</label>
                                                <input type="text" class="form-control" id="inputEmail4" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputEmail4">Prénom</label>
                                                <input type="text" class="form-control" id="inputEmail4" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">Email</label>
                                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                        </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Example textarea</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        </div>                        
                                        <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                            <label class="form-check-label" for="gridCheck">
                                            Check me out
                                            </label>
                                        </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Envoyer</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section> #}
        
            <footer class="footer">
                {% block footer %}

                    <div class="container">
                        <div class="row text-center text-xs-center text-sm-left justify-content-around">
                            <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                                <ul class="list-unstyled quick-links justify-content-center text-white">
                                    <li><a href="" class="badge badge-dark">Accueil</a></li>
                                    <li><a href="" class="badge badge-dark">Technologies</a></li>
                                    <li><a href="" class="badge badge-dark"></i>Projets</a></li>
                                    <li><a href="" class="badge badge-dark"></i>CV</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                                <ul class="list-unstyled list-inline social text-center text-white">
                                    <li class="list-inline-item"><a href=""><i class="fab fa-github"></i></a></li>
                                    <li class="list-inline-item"><a href=""><i class="fab fa-linkedin"></i></a></li>
                                    <li class="list-inline-item"><a href="" target="_blank"><i class="fas fa-envelope"></i></a></li>
                                </ul>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white p-2">
                                    <p>Mention légales © All right Reversed.</p>
                                </div>
                            </div>	
                    </div>
                {% endblock %}
            </footer>

            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
        {% endblock %}
    </body>
</html>


{#  #}